.hero {
    background-image: url(../../assets/workspace.png);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroText {
    & h1 {
        margin: 24px 0;
        color: white;
    }
}